{% if collection.image %}
  {% assign collection_image = collection.image %}
{% else %}
  {% assign collection_image = collection.products.first.featured_image %}
{% endif %}

{% case grid_items_per_row %}
  {% when '2' %}
    {% assign image_size = '1200x' %}

  {% when '3' %}
    {% assign image_size = '1000x' %}

  {% when '4' %}
    {% assign image_size = '800x' %}

  {% when '5' %}
    {% assign image_size = '600x' %}

  {% when '6' %}
    {% assign image_size = '400x' %}
{% endcase %}

<div class="list-collections__item collection grid__cell 1/2 1/3--handheld 1/{{ grid_items_per_row }}--lap-and-up" {{ block.shopify_attributes }}>
  <a href="{{ collection.url }}" class="collection__link">
    <img class="collection__image item" src="{{ collection_image | img_url: image_size }}" alt="{{ collection_image.alt | escape }}">

    <div class="collection__overlay">
      <h3 class="collection__title">{{ collection.title }}</h3>
    </div>
  </a>
</div>