{% unless image_size %}
{%- assign image_size = '600x600' -%}
{% endunless %}

{% unless current_collection %}
{% assign current_collection = collection %}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
{% assign sold_out = false %}
{% endif %}
{% assign variant = product.selected_or_first_available_variant %}

<div class="product--grid grid-item{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">
  <div class="grid">

    <div class="product-image--grid grid-item one-half text-center  medium-down--one-whole">
      <div class="p_image">
        <div class="product-gallery-grid">

          {% for product in collection.products %}

            {% if product.images.size > 1 %}
            {% for image in product.images %}
            <div class="product-photo-container">          
              <img class="full-image" src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}">
            </div>
            {% endfor %}
            {% else %}    
            <div class="product-photo-container">
              {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
              <img class="full-image" id="productPhotoImg" src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}">
            </div>
            {% endif %} 

          {% endfor %}


        </div>

        {% comment %}
        <div class="product-thumb-gallery">
          {% for product in collection.products %}
          <div class="product-thumbs">          
            {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
            <img id="productPhotoThumb" src="{{ featured_image | img_url: 'compact' }}" alt="{{ featured_image.alt | escape }}">                       
          </div>
          {% endfor %}
        </div>
        {% endcomment %}

      </div>

    </div>

    <div class="product-title grid-item one-half medium-down--one-whole">
      {% assign count = 0 %}
      {% for product in collection.products %}
      {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
      <ul id="slick-slide0{{ count }}" class="title-bar {% if forloop.first %}active-title{% endif %}" data-image="{{ featured_image | img_url: 'large' }}">
        <li class="display-table">
          <div class="inner-section-header  display-table-cell text-left">
            <h1 class="h2 product-title" itemprop="name">{{ product.title }}</h1>
          </div>
          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="inner-section-content display-table-cell text-right"> 

            {% assign variant = product.selected_or_first_available_variant %}

            <meta itemprop="priceCurrency" content="{{ shop.currency }}">
            <meta itemprop="price" content="{{ variant.price | divided_by: 100.00 }}">

            <div class="product-now-price">

              <span class="product-price">{{ product.price | money }}</span>
              <span class="compared-price"><s>{{ product.compare_at_price | money }}</s></span> 
              {% if product.compare_at_price > product.price and section.settings.product_show_saved_amount %}
              <div class="price-wrapper">
                <span class="saved-amount">save {{ product.compare_at_price | minus: product.price | money }}</span>
              </div>
              {% endif %}
              <div class="price-notes">
                <span>+ Free Shipping</span>
              </div>

              <form action="/cart/add" method="post" enctype="multipart/form-data" id="addToCartForm" class="addToCartForm">
                {% if product.available and product.variants.size > 1 %}
                <label>Select Your Colour</label>
                 {% endif %}
                <select name="id" id="productSelect-{{ section.id }}" class="product-variants product-variants-{{ section.id }}">
                  {% for variant in product.variants %}
                  {% if variant.available %}

                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }}</option>

                  {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  </option>
                  {% endif %}
                  {% endfor %}
                </select>

                {% if product.available and product.variants.size > 1 %}
                {% include 'swatch' with 'Color' %}
                {% endif %}

                <button type="submit" name="add" id="addToCart" class="btn addToCart {% if forloop.first %}active-button-mobile{% endif %}">
                  <span class="icon icon-cart"></span>
                  <span id="addToCartText-{{ section.id }}">{{ 'products.product.add_to_cart' | t }}</span>
                </button>
              </form>
            </div>
            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
          </div>
        </li>
      </ul>
      {% assign count = count | plus: 1 %}
      {% endfor %}
    </div>

  </div>
</div>
