<div class="flexslider" id="heroSlider--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="slideshow-section" data-slider-home-auto="{{ section.settings.slider_home_auto }}" data-slider-home-rate="{{ section.settings.slider_home_rate }}">
  <ul class="slides">
    {% for block in section.blocks %}
    {% if block.settings.slide_bg != blank %}
    <li class="slider-list align-{{ block.settings.align_slider_text }}" id="slide--{{ block.id }}" data-flexslider-index="{{ forloop.index0 }}" {{ block.shopify_attributes }} style="background-image:url({{ block.settings.slide_bg | img_url: '1550x505' }})">
      <div class="large--hide slider-list" style="background-image:url({{ block.settings.slide_bg | img_url: '1380x505' }})"></div>
      <div class="slider-left">
        <div class="wrapper wow fadeInLeft">
        {% if block.settings.main_text != "" %}
        <h1>{{ block.settings.main_text }}</h1>
        {% endif %}

        {% if block.settings.sub_text != "" %}
        <h3 class="light-text20">{{ block.settings.sub_text }}</h3>
        {% endif %}

        {% if block.settings.buy_now_text != "" %}
        <a href="{{ block.settings.buy_now_link }}" class="buy_now btn">
          {{ block.settings.buy_now_text }}
        </a>
        {% endif %}

        {% if block.settings.video_text != "" %}
        <a href="{{ block.settings.video_code }}" class="fancybox fancybox.iframe play_video btn">
          {{ block.settings.video_text }}
        </a>
        {% endif %}

        {% else %}
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
        {% capture svg_tag_class %}placeholder-noblocks slide-link slide-link--{{ block.id }}{% endcapture %}
        {%- assign placeholder = 'placeholder-lifestyle-' | append: current -%}
        {{ 'lifestyle-' | append: current | placeholder_svg_tag: svg_tag_class }}
        {% endif %}
      </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% schema %}
{
"name": "GPS - Jumbo Banner",
"class": "gps-banner-section",
"max_blocks": 6,
"settings": [
{
"type": "checkbox",
"id": "slider_home_auto",
"label": "Auto-rotate slides"
},
{
"type": "select",
"id": "slider_home_rate",
"label": "Transition time",
"options": [
{
"value": "5000",
"label": "5 seconds"
},
{
"value": "7000",
"label": "7 seconds"
},
{
"value": "10000",
"label": "10 seconds"
},
{
"value": "15000",
"label": "15 seconds"
}
]
}
],
"blocks" : [
{
"type": "image",
"name": "Image",
"settings": [
{
"type": "image_picker",
"id": "slide_bg",
"label": "BG Image"
},
{
"type": "select",
"id": "align_slider_text",
"label": "Text alignment",
"options": [
{
"value": "left",
"label": "Left"
},
{
"value": "right",
"label": "Right"
}
]
},
{
"type": "html",
"id": "main_text",
"label": "Main text"
},
{
"type": "text",
"id": "sub_text",
"label": "Sub text"
},
{
"type": "text",
"id": "buy_now_text",
"label": "Buy Now Text"
},
{
"type": "url",
"id": "buy_now_link",
"label": "Buy Now Link"
},
{
"type": "text",
"id": "video_text",
"label": "Video Text"
},
{
"type": "html",
"id": "video_code",
"label": "Video Code"
}
]
}
]
}
{% endschema %}
