<div class="wrapper text-center"> 

  {% if section.settings.heading != blank %}
  <h3 class="block-heading dark-text37">{{ section.settings.heading }}</h3>
  {% endif %}
  {% if section.settings.sub_text != blank %}
  <p class="block-text text19">{{ section.settings.sub_text }}</p>
  {% endif %}

  
  <div class="grid-uniform grid-flex text-center section-{{ section.id }} bluetooth-why-nuttag" data-visible-block-count="{{ section.settings.visible_blocks_count}}">
  
    {% for block in section.blocks %}
    <div class="grid-item one-third why-section">
      <div class="why-section-inner display-table">
        <div class="display-table-cell">
          <div class="grid wow zoomIn">

            {% if block.settings.block_image != blank %}             
            <img src="{{ block.settings.block_image | img_url: 'original' }}" alt="{{ block.settings.block_image.alt }}">
            {% endif %}

            {% if block.settings.block_heading != blank %}
            <p class="block-text1 text19">{{ block.settings.block_heading }}</p>
            {% endif %}

            {% if block.settings.block_text != blank %}
            <p>{{ block.settings.block_text }}</p>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>

  {% if section.settings.button_text != "" or section.settings.grey_text != "" %}
  <div class="one-whole text-center why-btn-section">

    {% if section.settings.button_text != "" %}
    <a href="{{ section.settings.button_link }}" class="feature-link-lg icon icon-slideDown">
      {{ section.settings.button_text }}
    </a>
    {% endif %}

    {% if section.settings.grey_text != "" %}
    <p class="grey-text">{{ section.settings.grey_text }}</p>
    {% endif %}

  </div>
  {% endif %}

</div>

{% schema %}
{
  "name": "GPS - Why NutTag?",
  "class": "bluetooth-why-nuttag-section",
  "settings": [
  {
    "type": "text",
    "id": "heading",
    "label": "Heading"
  },
  {
    "type": "html",
    "id": "sub_text",
    "label": "Sub text"
  },
  {
    "type": "text",
    "id": "button_text",
    "label": "Button text"
  },
  {
    "type": "url",
    "id": "button_link",
    "label": "Button link"
  },
  {
    "type": "html",
    "id": "grey_text",
    "label": "Text besides button"
  },
  {
     "type": "select",
     "id": "visible_blocks_count",
     "options": [
        { "value": "3", "label": "Show 3 Blocks"},
        { "value": "6", "label": "Show 6 Blocks"},
        { "value": "9", "label": "Show 9 Blocks"},
        { "value": "12", "label": "Show 12 Blocks"}
     ],
     "label": "Visible Blocks"
  }
  ],
  "blocks" : [
  {
    "type": "image",
    "name": "Image",
    "settings": [
    {
      "type": "image_picker",
      "id": "block_image",
      "label": "Image"
    },
    {
      "type": "html",
      "id": "block_heading",
      "label": "Heading"
    },
    {
      "type": "html",
      "id": "block_text",
      "label": "Text"
    }
  ]
  } 
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'why-nuttag.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
<!--[if lt IE 9]><script src="{{ 'why-nuttag.js' | asset_url }}"></script><![endif]-->
