<div class="wrapper text-center"> 
  {% if section.settings.heading != blank %}
  <h3 class="wow fadeInDown dark-text37">{{ section.settings.heading }}</h3>
  {% endif %}

  {% if section.settings.sub_text != blank %}
  <p class="wow fadeInDown text19">{{ section.settings.sub_text }}</p>
  {% endif %}
  <div class="grid section-{{ section.id }} product-features">  
    <div class="prodct-fe-section">
      {% for block in section.blocks %}    
      <div class="grid-item one-quarter display-table-cell">
        <div class="product-fea-section wow fadeInUp">
        {% if block.settings.block_image != blank %}
        <img class="featured-img" src="{{ block.settings.block_image | img_url: 'original' }}" alt="{{ block.settings.block_image.alt }}">
        {% endif %}
             </div>
        {% if block.settings.block_title != blank %}
        <div class="feature-title wow fadeInUp">
          <h3>{{ block.settings.block_title }}</h3>
        </div>
        {% endif %}
        {% if block.settings.block_text != blank %}
        <div class="feature-text wow fadeInUp">
          <p>{{ block.settings.block_text }}</p>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
"name": "Product features",
"class": "product-features-section",
"settings": [
{
"type": "text",
"id": "heading",
"label": "Heading"
},
{
"type": "text",
"id": "sub_text",
"label": "Sub-text"
}
],
"blocks" : [
{
"type": "image",
"name": "Image",
"settings": [
{
"type": "image_picker",
"id": "block_image",
"label": "Image"
},
{
"type": "text",
"id": "block_title",
"label": "Title"
},
{
"type": "html",
"id": "block_text",
"label": "Text"
}
]
} 
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
